.bioInfoContainer {
   position: relative;
   cursor: default;

   min-width: 250px;
   width: 55vw;
   height: 100vh;

   background-color: #fff;
   border-radius: 2px;
   opacity: 0.856;

   padding: 4rem 3rem;
   text-align: center;

   margin-top: 7%;

   color: rgb(85, 85, 85);

   font-size: 1rem;
}

.bioInfoContainer p {
   margin-bottom: 0.5rem;
}

.bioInfoContainer h2 {
   border-bottom: 2px solid grey;
   margin-bottom: 2rem;
   padding: 1rem;
}

.bioInfoContainer ul {
   text-align: left;
   padding: 2rem;
}

.bioInfoContainer ul li {
   padding: 0.7rem;
}

@media (max-width: 760px) {
   .bioInfoContainer {
      padding: 2rem 1.5rem;
     font-size: 0.8rem;
   }
   .bioInfoContainer h2 {
      margin-bottom: 1rem;
   }
   .bioInfoContainer ul {
      padding: 1rem;
   }
   .bioInfoContainer ul li {
      padding: 0.35rem;
   }
}

@media (max-width: 400px) {
   .bioInfoContainer {
      padding: 1.5rem 1rem;
      font-size: 0.7rem;
   }
   .bioInfoContainer h2 {
      margin-bottom: 0.7rem;
   }
   .bioInfoContainer ul {
      padding: 0.6rem;
   }
   .bioInfoContainer ul li {
      padding: 0.2rem;
   }
}